drive-rags-hrWchyIOMyaS7FHR.json
{"createdAt":"2025-04-21T16:39:05.219Z","updatedAt":"2025-04-21T20:39:16.000Z","id":"hrWchyIOMyaS7FHR","name":"Drive RAGS","active":false,"nodes":[{"parameters":{"options":{}},"id":"29fa0229-22ba-4e9f-bd44-0a368ff6adb1","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-420,360],"credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"31c39f31-ea68-4242-ab2d-771536cbd487","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[400,300],"credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"a1370cdc-7a70-4c17-aa7a-ffb2f3eb6209","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,900]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"1c5b9373-13c9-4af0-8af4-a299ada67110","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[440,900],"credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"5229b70d-c656-4fcf-8984-f0fdcc0c6082","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[180,120]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"68a2de38-b07b-4258-a1fc-d70931c87186","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"f6363939-ccb2-47a6-b98b-a0ca1a7f778a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,600]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"efd4ddbc-29ad-46c6-8067-9e8c3e17dc7f","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-60,780],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"tTdWhPsqRMu1veCp","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Pfdrw9ZMPMG55YeDw58MDp59H4a0I6xE","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1Pfdrw9ZMPMG55YeDw58MDp59H4a0I6xE"},"event":"fileCreated","options":{}},"id":"ad5925d2-52d4-4124-befd-535dafd9d9e4","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1100,680],"credentials":{"googleDriveOAuth2Api":{"id":"tTdWhPsqRMu1veCp","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Pfdrw9ZMPMG55YeDw58MDp59H4a0I6xE","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1Pfdrw9ZMPMG55YeDw58MDp59H4a0I6xE"},"event":"fileUpdated","options":{}},"id":"b187dede-7a5d-4fa1-98d4-4ecb5ffc59ba","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1100,900],"credentials":{"googleDriveOAuth2Api":{"id":"tTdWhPsqRMu1veCp","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"da78cdb9-2d94-4cb0-a130-8957523de0a4","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,780],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"4d269fab-49bc-41a3-b304-421c1fd79702","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[220,400],"credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{},"id":"7821cac2-795d-4be2-b4bd-e958970635e2","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-280,360],"notesInFlow":false,"credentials":{"postgres":{"id":"kTcJVWu2eQ5CPrZD","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"0b4c0905-3848-4632-9d8f-532132c90d55","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[600,1100]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"1767f2ea-adc0-474a-bb5d-e9010cbed70c","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-360,780],"alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"fhh3gWkc1gp2caxc","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"4bae65f1-e47a-4d58-87b4-8f95cc5212ad","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-680,780]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"8848f627-afaa-4c00-9349-f332e54b5d68","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,60]},{"parameters":{"public":true,"options":{}},"id":"ff44c6ac-1625-45c2-baf2-81986b109c24","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,140],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"3c7f7092-f6aa-4c25-88cd-6405b8a362c9","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-320,140]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"93bbfdbb-d33c-46e0-81b6-547207eba9c8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[60,280],"credentials":{"supabaseApi":{"id":"fhh3gWkc1gp2caxc","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"9a06a27d-419a-4a50-9136-b40425a3b205","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[480,680],"credentials":{"supabaseApi":{"id":"fhh3gWkc1gp2caxc","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f660c686-151a-4455-9dd1-9b7577fd0411","triggerCount":0,"tags":[]}