email-summary-agent-DRv1dKsnwlKrZK6O.json
{"createdAt":"2025-04-05T20:42:34.044Z","updatedAt":"2025-04-06T07:48:17.000Z","id":"DRv1dKsnwlKrZK6O","name":"Email Summary Agent","active":false,"nodes":[{"parameters":{"content":"- Starts the workflow every day at 7 AM.\n- Adjust the time if you want the workflow to run at a different hour.","height":314.47468983163634,"width":248.47086922498647},"id":"bea3f91e-846d-4dd5-a246-d9d5e8249521","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1460,-40],"typeVersion":1},{"parameters":{"content":"Fetches all emails received in the past 24 hours from the email address","height":313.40934714314244,"width":213.36643278764896},"id":"7beec9d9-96d8-4f54-854a-a575724489db","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1180,-40],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":46}]}},"id":"80f48e37-67d8-4cb9-a842-401e37e7dbd1","name":"Daily 7AM Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1380,100],"typeVersion":1.2},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"q":"={{ \n  (() => {\n    const yesterday = new Date();\n    yesterday.setDate(yesterday.getDate() - 1);\n    return `isb.quantana@quantana.in after:${yesterday.getFullYear()}/${(yesterday.getMonth() + 1).toString().padStart(2, '0')}/${yesterday.getDate().toString().padStart(2, '0')}`;\n  })()\n}}"}},"id":"08851627-780f-4dee-9b59-2f5f5af32947","name":"Fetch Emails - Past 24 Hours","type":"n8n-nodes-base.gmail","position":[-1120,100],"webhookId":"20f1d11d-8a69-43f3-9323-33eaf1b3b600","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"lfIA5Y4bf8jiIhrl","name":"Gmail account 4"}}},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"id, From, To, CC, snippet","options":{}},"id":"fa030cca-a1f0-43cf-b36b-96fbfe823a2f","name":"Organize Email Data - Morning","type":"n8n-nodes-base.aggregate","position":[-880,100],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Go through this email summary and identify all key details mentioned, any specific issues to look at, and action items.\nUse this format to output\n{\n  \"summary_of_emails\": [\n    \"Point 1\",\n    \"Point 2\",\n    \"Point 3\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Name 1\",\n      \"action\": \"Action 1\"\n    },\n    {\n      \"name\": \"Name 1\",\n      \"action\": \"Action 2\"\n    },\n    {\n      \"name\": \"Name 2\",\n      \"action\": \"Action 3\"\n    }\n  ]\n}\n\nInput Data:\n\n {{ $json.data.toJsonString() }}\n\n"}]},"jsonOutput":true,"options":{}},"id":"53c95961-f0a8-4205-bae7-0def6a5852df","name":"Summarize Emails with OpenAI - Morning","type":"@n8n/n8n-nodes-langchain.openAi","position":[-660,100],"typeVersion":1.7,"credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"sendTo":"hannudaya@gmail.com","subject":"=ESAgent - {{ new Date(new Date().setDate(new Date().getDate() - 1)).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-00:00 to {{ new Date(new Date().setDate(new Date().getDate())).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-07:00AM","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Summary - isbonline@quantana.in</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f9f9f9;\n            color: #333;\n            line-height: 1.6;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 20px auto;\n            background: #ffffff;\n            border: 1px solid #ddd;\n            border-radius: 10px;\n            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n        }\n        .email-header {\n            background-color: #0073e6;\n            color: #fff;\n            padding: 20px;\n            text-align: center;\n            border-top-left-radius: 10px;\n            border-top-right-radius: 10px;\n        }\n        .email-header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .email-content {\n            padding: 20px;\n        }\n        .section-title {\n            font-size: 20px;\n            color: #0073e6;\n            margin-bottom: 10px;\n        }\n        ul {\n            list-style: none;\n            padding: 0;\n        }\n        ul li {\n            margin: 10px 0;\n            padding: 10px;\n            background: #f4f4f4;\n            border-left: 4px solid #0073e6;\n            border-radius: 5px;\n        }\n        .action-item {\n            font-weight: bold;\n            margin: 5px 0;\n        }\n        .action-detail {\n            margin-left: 10px;\n        }\n        .email-footer {\n            background-color: #0073e6;\n            color: #fff;\n            text-align: center;\n            padding: 10px;\n            font-size: 14px;\n            border-bottom-left-radius: 10px;\n            border-bottom-right-radius: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h1>Email Summary</h1>\n        </div>\n        <div class=\"email-content\">\n            <div>\n                <h2 class=\"section-title\">Summary of Emails:</h2>\n                <ul>\n                    {{ $json.message.content.summary_of_emails.map(email => `<li>${email}</li>`).join('') }}\n                </ul>\n            </div>\n            <div>\n                <h2 class=\"section-title\">Actions:</h2>\n                <ul>\n                    {{ $json.message.content.actions.map(action => `\n                        <li>\n                            <span class=\"action-item\">${action.name}:</span>\n                            <span class=\"action-detail\">${action.action}</span>\n                        </li>\n                    `).join('') }}\n                </ul>\n            </div>\n        </div>\n        <div class=\"email-footer\">\n            <p>Generated by Quantana ESAgent <br /> A Quantana AI Labs Initiative\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"ccList":"cc-list@example.com","replyToSenderOnly":false}},"id":"6b4fce61-586b-44f9-9bc8-e417fc549c92","name":"Send Summary - Morning","type":"n8n-nodes-base.gmail","position":[-300,100],"webhookId":"83f2aeb9-7b6c-4336-b5ed-8acfcd259850","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"lfIA5Y4bf8jiIhrl","name":"Gmail account 4"}}},{"parameters":{"content":"Organizes the fetched email data, extracting fields like sender, receiver, CC, and a preview snippet.","height":305.83657700487913,"width":226.7095107678671},"id":"13fae8f0-5350-4718-af27-1fce7e6ada1c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-940,-40],"typeVersion":1},{"parameters":{"content":"- Sends the summarized email report to recipients with a styled HTML layout.\n- Update the \"sendTo\" and \"ccList\" fields with the email addresses of your recipients.\n\n","height":359.7308639651144,"width":232.8435827211592},"id":"680db3af-5d59-4760-af1f-af3b2c24e6c3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-360,-80],"typeVersion":1}],"connections":{"Daily 7AM Trigger":{"main":[[{"node":"Fetch Emails - Past 24 Hours","type":"main","index":0}]]},"Fetch Emails - Past 24 Hours":{"main":[[{"node":"Organize Email Data - Morning","type":"main","index":0}]]},"Organize Email Data - Morning":{"main":[[{"node":"Summarize Emails with OpenAI - Morning","type":"main","index":0}]]},"Summarize Emails with OpenAI - Morning":{"main":[[{"node":"Send Summary - Morning","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Lagos","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Daily 7AM Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd397d63-0f42-49ad-bd8c-c141144fbd61","triggerCount":1,"tags":[{"createdAt":"2025-04-05T20:42:24.360Z","updatedAt":"2025-04-05T20:42:24.360Z","id":"4ZTZJsKMBVi2xk2D","name":"DevOps"},{"createdAt":"2025-04-05T20:42:24.158Z","updatedAt":"2025-04-05T20:42:24.158Z","id":"5abpVmEipCFRXiEL","name":"Product"},{"createdAt":"2025-04-05T20:42:24.191Z","updatedAt":"2025-04-05T20:42:24.191Z","id":"AClEVjhuVKMb8nT7","name":"Building blocks"},{"createdAt":"2025-04-05T20:42:24.258Z","updatedAt":"2025-04-05T20:42:24.258Z","id":"HrOWRqEh7uq2FTN8","name":"OpenAI"},{"createdAt":"2025-04-05T20:42:24.306Z","updatedAt":"2025-04-05T20:42:24.306Z","id":"HzYBfr3l9enpcNtv","name":"Marketing"},{"createdAt":"2025-04-05T20:42:24.249Z","updatedAt":"2025-04-05T20:42:24.249Z","id":"Mkz9I8WQ0rUsdCb0","name":"IT Ops"},{"createdAt":"2025-04-05T20:42:24.195Z","updatedAt":"2025-04-05T20:42:24.195Z","id":"Ruyko0MwLb8HW17O","name":"Finance"},{"createdAt":"2025-04-05T20:42:24.173Z","updatedAt":"2025-04-05T20:42:24.173Z","id":"hCgdazjJxGc8ykj2","name":"AI"},{"createdAt":"2025-04-05T20:42:24.341Z","updatedAt":"2025-04-05T20:42:24.341Z","id":"kvtbmKDJV8av5AsH","name":"Project Management"},{"createdAt":"2025-04-05T20:42:24.333Z","updatedAt":"2025-04-05T20:42:24.333Z","id":"qsWyiAKQ2zTqTVV8","name":"HR"},{"createdAt":"2025-04-05T20:42:24.324Z","updatedAt":"2025-04-05T20:42:24.324Z","id":"u2FOFSQxcifuzDFo","name":"Support"}]}