load-date-from-drive-to-pinecone-5bCwSCRj6AnlpeP3.json
{"createdAt":"2025-04-01T08:42:38.724Z","updatedAt":"2025-04-02T20:31:50.000Z","id":"5bCwSCRj6AnlpeP3","name":"Load Date From Drive to Pinecone","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1m7hwYBJrdveky91DZk306Wt3Acbh-hTp","mode":"list","cachedResultName":"Tesla Earnings","cachedResultUrl":"https://drive.google.com/drive/folders/1m7hwYBJrdveky91DZk306Wt3Acbh-hTp"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"c51040f5-9151-48d5-bd1e-f36529cbda74","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"tTdWhPsqRMu1veCp","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"id":"c748a9cd-74fe-4779-977f-191fca9de8e2","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"tTdWhPsqRMu1veCp","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8ncourse","mode":"list","cachedResultName":"n8ncourse"},"options":{"pineconeNamespace":"tslan8n"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[440,0],"id":"a6b4c4e5-3bef-41db-8f63-daa122bbcb43","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"rqIq6VKNZe5UDClF","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[340,180],"id":"0594d486-cdfb-4db0-a503-4fb347744dee","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"TSLAQ3","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[580,220],"id":"baabfcbf-eebb-44db-905e-cfd854cc2f1d","name":"Default Data Loader"},{"parameters":{"chunkSize":900,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[680,440],"id":"bb79f190-53d7-4e6f-9dc2-e011110df5d1","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-04-02T20:31:40Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e494dfca-f6df-4908-86eb-bda7cf109544","triggerCount":1,"tags":[]}