my-github-backup-O2FMZhQjL6NJ7Eg3.json
{"createdAt":"2025-04-24T13:41:33.170Z","updatedAt":"2025-04-24T15:50:13.000Z","id":"O2FMZhQjL6NJ7Eg3","name":"My github backup","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-180,-60],"id":"d86d8df6-dbd9-4683-a406-f4a98c547075","name":"Schedule Trigger"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/hannudaya","mode":"url"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/hannudaya/n8n-backup"}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[420,-40],"id":"f7c4b711-e7d2-46a8-b875-28b1bbe97769","name":"GitHub","credentials":{"githubOAuth2Api":{"id":"LaIY064cCVYMHbV7","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[720,-40],"id":"09791cd2-1fd7-4178-8ede-d75110f85053","name":"n8n","credentials":{"n8nApi":{"id":"rG3Z0vBuhb4Jd0yV","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-40,-60],"id":"ea6c0dc6-dbab-4a2a-9a16-29cbe2ca3430","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy-HH-mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[120,-60],"id":"6ebb1d8d-bb0a-4cd0-a2ba-a66a5cf06c76","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"d3a36719-3bc3-439a-a773-574488f65adf","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-40],"id":"bc2faf99-5db2-44c5-ae3f-d9d8d2131d7e","name":"Edit Fields"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"=name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[580,-40],"id":"97a4cac3-7019-4316-9493-2bf0ecd8b762","name":"Aggregate"},{"parameters":{"operation":"toBinary","sourceProperty":"name","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,-40],"id":"947aba4c-e7eb-4773-a7bd-6195be3831f3","name":"Convert to File"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7fce8437-a2b7-4985-b3b8-a6606215cc4d","triggerCount":0,"tags":[]}