order-notofication-EjmdrVhTFGO0FtWm.json
{"createdAt":"2025-03-25T20:29:55.268Z","updatedAt":"2025-03-26T13:22:15.000Z","id":"EjmdrVhTFGO0FtWm","name":"Order Notofication","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"https://airtable.com/appngHnAFf92UijM0/tblOznTD50ZCjgkW8/viwLrbxEKG4V7VvRp?blocks=hide","mode":"url"},"tableId":{"__rl":true,"value":"https://airtable.com/appngHnAFf92UijM0/tblOznTD50ZCjgkW8/viwLrbxEKG4V7VvRp?blocks=hide","mode":"url"},"triggerField":"Order Number","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[0,0],"id":"8d0d4852-ec7b-4e9d-a016-95d547c48201","name":"Airtable Trigger","credentials":{"airtableTokenApi":{"id":"JzORj5qU64yClsVQ","name":"Airtable Personal Access Token account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are responsible for customers' orders. Your task is to collect incoming information about orders and create a clear summary that will be sent via email to the team.\nThe email should be signed with \"Customer Success Team\".\n\nHere are the details of the customer orders:\nOrder Number:{{ $json.fields['Order Number'] }}\nCustomer:{{ $json.fields.Customer }}\nProduct:{{ $json.fields.Product }}\nQuantity:{{ $json.fields.Quantity }}\nPrice:{{ $json.fields.Price }}\nDate:{{ $json.fields.Date }}\nStatus:{{ $json.fields.Status }}\n\nPlease provide the following output parameters:\nemail_subject\nemail_body\n\nMake a clean body with new line where necessary."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"6cdc2a88-af97-4c1c-b149-eba787d19f6e","name":"OpenAI","credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"sendTo":"hannudayawa@gmail.com","subject":"={{ $json.message.content.email_subject }}","emailType":"text","message":"={{ $json.message.content.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[620,0],"id":"17a94efc-c02f-4622-9c75-a512356a42e6","name":"Gmail","webhookId":"6ea30b08-1c2b-4e52-83b3-560f33263dc9","credentials":{"gmailOAuth2":{"id":"f4zTGB6vexNooNER","name":"Gmail account 3"}}}],"connections":{"Airtable Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Airtable Trigger":{"lastTimeChecked":"2025-03-26T13:18:31Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c6d1954-1812-433a-bb11-ecb0f1976a6a","triggerCount":1,"tags":[]}