send-mail-pinecone-4IXmOfbO2v2UOuD4.json
{"createdAt":"2025-04-05T17:00:15.429Z","updatedAt":"2025-04-05T17:27:36.000Z","id":"4IXmOfbO2v2UOuD4","name":"Send Mail Pinecone","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1200,80],"id":"96b64e1f-0e98-4ab8-a953-4c9bd03f1ae4","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant to send mails."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-980,80],"id":"39e5de1d-e959-4211-aaa3-ce0f092d711c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-960,300],"id":"beb4ee5d-ed79-41f5-a0a0-f1d1ae099361","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-820,300],"id":"db4de959-e58b-40d7-87e5-1aae3f9a9342","name":"Gmail","webhookId":"d232db6d-a283-46c3-898c-560947f99440","credentials":{"gmailOAuth2":{"id":"lfIA5Y4bf8jiIhrl","name":"Gmail account 4"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Subject: Meeting Tomorrow Morning\n\nHello Mustapha,\n\nI hope this message finds you well. I would like to meet with you tomorrow morning. Please let me know your availability.\n\nBest regards,\nArnie"}}]},"versionId":"b76f8033-d89b-4eba-b07e-5bf1efaa4467","triggerCount":0,"tags":[]}