sentiment-analaysis-3pdj5oCZlks7p2vi.json
{"createdAt":"2025-03-26T13:35:09.293Z","updatedAt":"2025-03-27T16:06:33.000Z","id":"3pdj5oCZlks7p2vi","name":"Sentiment Analaysis","active":false,"nodes":[{"parameters":{"formTitle":"Review","formDescription":"How satisfied are you?","formFields":{"values":[{"fieldLabel":"Name","placeholder":"Your name","requiredField":true},{"fieldLabel":"Review","fieldType":"textarea","placeholder":"How satisfied are you?","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"2e2d62b8-5a34-4e16-8265-2b9767c15b97","name":"On form submission","webhookId":"3d005a4f-2457-46be-b84b-d0614dc8c8d2"},{"parameters":{"promptType":"define","text":"={{ $json.Review }}","messages":{"messageValues":[{"message":"=You are an expert in sentiment analysis.\nYou will conduct analysis and determine which of the three options apply:\nPositive\nNegative\nNeutral\nYou respond with only one word."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[200,140],"id":"b089d187-25b3-4ce6-9259-aebd9e3094aa","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[200,300],"id":"8bd4a8f8-1bc8-4480-92da-329c9ea7c5b9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BVXUUpcTAfaXh8KL","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[540,20],"id":"f2b3bad7-5b2a-4b8d-a63b-2a8371c833c6","name":"Merge"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1L8H7A4Me-YqGK710ixY8a1PsumUD5YnJaCaNXkmLJAM/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L8H7A4Me-YqGK710ixY8a1PsumUD5YnJaCaNXkmLJAM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.Name }}","Review":"={{ $json.response.text }}"},"matchingColumns":["Name"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Review","displayName":"Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,20],"id":"a647859d-6219-40d2-96bb-2490fc57349e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"cJRiy2pLidzJsrKt","name":"Google Sheets account 2"}}}],"connections":{"On form submission":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"98c9276f-7b36-4a96-8e1c-e5b618c5e0d5","triggerCount":0,"tags":[]}